
Aula 2/.idea/workspace.xml
Aula 2/.ipynb_checkpoints/Aula 2 - Arquivo Inicial-checkpoint.ipynb
Aula 2/.ipynb_checkpoints/Aula 2 - Jupyter-checkpoint.ipynb
Aula 2/.ipynb_checkpoints/Gabarito - Aula 2-checkpoint.ipynb
Aula 2/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Aula 3/.idea/workspace.xml
Aula 3/.ipynb_checkpoints/Aula 3 - Arquivo Inicial-checkpoint.ipynb
Aula 3/.ipynb_checkpoints/Aula 3 - Jupyter-checkpoint.ipynb
Aula 3/.ipynb_checkpoints/Projeto3 - Arquivo Inicial-checkpoint.ipynb
Aula 3/1. Intensivão de Python \[Aula 3\].mp4
Aula 3/2. Apostila Jornada - \[Aula 3\].pdf
Aula 3/3. Arquivos \[Aula 3\] - Bkp.zip
Aula 3/Gabarito - Projeto3.ipynb
Aula 4/.idea/workspace.xml
Aula 4/.ipynb_checkpoints/Projeto 4 - Arquivo Inicial-checkpoint.ipynb
Aula 4/.ipynb_checkpoints/Projeto 4 - Gabarito-checkpoint.ipynb
Aula 4/.ipynb_checkpoints/Projeto 4 - Jupyter-checkpoint.ipynb
Aula 4/1. Intensivão de Python \[Aula 4\].mp4
Aula 4/2. Apostila Jornada - \[Aula 4\].pdf
Aula 4/3. Arquivos \[Aula 4\] - Bkp.zip
Aula 4/Projeto 4 - Gabarito.ipynb
Aula 2/Gabarito - Aula 2.ipynb
